[submodule "+mlog"]
	path = +mlog
	url = git@github.com:Neuro-Mechatronics-Interfaces/matlab_package__mlog
[submodule "+io"]
	path = +io
	url = https://github.com/Neuro-Mechatronics-Interfaces/matlab_package__io
[submodule "+utils"]
	path = +utils
	url = git@github.com:Neuro-Mechatronics-Interfaces/NHP_MATLAB_Utilities.git
[submodule "+default"]
	path = +default
	url = git@github.com:m053m716/Matlab-Defaults
[submodule "+TMSiSAGA"]
	path = +TMSiSAGA
	url = git@github.com:Neuro-Mechatronics-Interfaces/TMSiSAGA_MATLAB.git
[submodule "+intan"]
	path = +intan
	url = git@github.com:Neuro-Mechatronics-Interfaces/matlab_package__intan.git
[submodule "+cm"]
	path = +cm
	url = https://github.com/Neuro-Mechatronics-Interfaces/matlab_package__cm.git
